# Partie 1: Base de données CINEMA
## 1. Structure de données en dictionnaire
### A. Explorer la table
Un cinéma tient une base de données sur les films et salles de projection.

In [2]:
tableaufilms =  [
    {'titre':'la rage aux poings', 'realisateur':'Eric le Hung', 'annee': 1975}, # film projeté dans la salle 1
    {'titre':'le million' , 'realisateur':'René Clair', 'annee':1931}, # dans la salle 2
    {'titre':'Rendez vous à Badenberg', 'realisateur':'René Meurice','annee':1970}, # dans la salle 3
    {'titre':'Le cercle rouge',  'realisateur':'Jean-Pierre Melville','annee':1970}, # dans la salle 4
]
tableausalles = [{"salle": 2, 'horaire': '15h00', 'titre':'le million'},
                {"salle": 1, 'horaire': '18h00', 'titre':'la rage aux poings'},
                {"salle": 4, 'horaire': '18h05', 'titre':'Le cercle rouge'},
                {"salle": 3, 'horaire': '21h00', 'titre':'Rendez vous à Badenberg'},
                ]

A partir de vos connaissances (voir fiche 4: dictionnaires), vous allez explorer les données pour chacune de ces tables.

**Question 1.a:** Compléter l'instruction qui affiche: 

```
{"salle": 2, 'horaire': '15h00', 'titre':'le million'}
```

In [3]:
# correction
tableausalles[0]

{'salle': 2, 'horaire': '15h00', 'titre': 'le million'}

**Question 1.b:**  Saisir l'instruction qui affiche le titre du film de ce dictionnaire:

In [4]:
# correction
tableausalles[0]['titre']

'le million'

**Question 2.a:** Saisir l'instruction qui affiche:

```
{'titre':'le million' , 'realisateur':'René Clair', 'annee':1931}
```

In [6]:
# correction
tableaufilms[1]

{'titre': 'le million', 'realisateur': 'René Clair', 'annee': 1931}

**Question 2.b:**  Saisir l'instruction qui affiche l'année de parution du film *'le million'*

In [7]:
# correction
tableaufilms[1]['annee']

1931

**Question 2.c:** Saisir l'instruction qui affiche le titre du premier élément de `tableaufilms`

In [8]:
# correction
tableaufilms[0]['titre']

'la rage aux poings'

### B. SELECTION dans une table
Vu sur <a href="allophysique.com/docs/NSI_1/sequences/page3/#opérations-sur-les-tables" target =_blank>allophysique.com > NSI_1 > cours sur les données en table</a>:

On peut réaliser une selection dans une table en créant une liste par comprehension selon la méthode:

```python
[ligne for ligne in table if test(ligne, titre)]
```

**Question 3:** Completer le script de la fonction `test` pour rechercher dans la table `tableaufilms` les informations sur le(s) film(s) dont le titre est *'la rage aux poings'*.

In [9]:
# correction
def test(t,titre):
    return t['titre'] == titre
    
[ligne for ligne in tableaufilms if test(ligne, 'la rage aux poings')]

[{'titre': 'la rage aux poings', 'realisateur': 'Eric le Hung', 'annee': 1975}]

## 2. Utiliser la librairie Pandas
### A. Explorer un Dataframe
On va voir maintenant ce qu’apporte la représentation des données avec la librairie Pandas.

Avec la librairie pandas, les données sont maintenant mises dans un **Dataframe**. Celui-ci permet dans un premier temps de *présenter plus facilement* le contenu. Le *dataframe* est une sorte de tableau, de la même forme que le tableau d'origine, mais qui vient avec de nombreuses méthodes qui vous seront utiles.

Testez les lignes suivantes et appréciez la présentation des données avec le *dataframe* `tableaufilms_df`:

In [10]:
import pandas as pd  # on importe la librairie pandas 
# patience ... le premier import peut etre long :-(

# creation d'un dataframe a partir de tableaufilms
tableaufilms_df = pd.DataFrame(tableaufilms)
tableaufilms_df

                     titre           realisateur  annee
0       la rage aux poings          Eric le Hung   1975
1               le million            René Clair   1931
2  Rendez vous à Badenberg          René Meurice   1970
3          Le cercle rouge  Jean-Pierre Melville   1970

In [11]:
# creation d'un dataframe a partir de tableausalles
tableausalles_df = pd.DataFrame(tableausalles)
tableausalles_df

   salle horaire                    titre
0      2   15h00               le million
1      1   18h00       la rage aux poings
2      4   18h05          Le cercle rouge
3      3   21h00  Rendez vous à Badenberg

On voit que le *dataframe* affiche les **clés** du dictionnaire (les *descripteurs* de la table). Et que le *dataframe* possède un **index** (la valeur numérique en début de ligne).

On peut maintenant afficher la premiere ligne de `tableausalles_df`. C'est celle d'**index 0**. La syntaxe ressemble à celle vue pour les liste, mais on utilise ici des doubles crochets `[[]]`:

In [12]:
tableausalles_df.iloc[[0]]

   salle horaire       titre
0      2   15h00  le million

Maintenant, pour accéder à l'une des données de la ligne, on fait une PROJECTION sur cette table, en ne conservant que la ligne `titre`:

In [13]:
tableausalles_df.iloc[[0]][['titre']]

        titre
0  le million

**Question 4:** Pour `tableaufilms_df`, rechercher le realisateur du film à l'index 1

In [15]:
# correction
tableaufilms_df.iloc[[1]][['realisateur']]

  realisateur
1  René Clair

### Opération de SELECTION sur un Dataframe
Pour **selectionner** une ou plusieurs lignes selon un *critere*, on écrit une *expression conditionnelle*. 

Par exemple, selectionner le(s) film(s) dont le titre est *'la rage aux poings'*, on écrit:

```python
tableaufilms_df['titre'] == 'la rage aux poings'
```

In [16]:
filtre = tableaufilms_df['titre'] == 'la rage aux poings'
filtre

0     True
1    False
2    False
3    False
Name: titre, dtype: bool

Puis, pour afficher les informations du film dont le titre est *'la rage aux poings'*, on créé un nouveau *Dataframe*:

In [17]:
tableaufilms_df[filtre]

                titre   realisateur  annee
0  la rage aux poings  Eric le Hung   1975

**Question 5:** Rechercher les informations sur les films dont l'année de sortie est avant 1972

In [20]:
# correction
filtre = tableaufilms_df['annee'] < 1972
tableaufilms_df[filtre]

                     titre           realisateur  annee
1               le million            René Clair   1931
2  Rendez vous à Badenberg          René Meurice   1970
3          Le cercle rouge  Jean-Pierre Melville   1970

### Jointure
On effectuera une jointure entre ces 2 tables selon la condition:

`tableaufilms_df['titre'] = tableausalles_df['titre`]

On utilisera la fonciton `merge`. Cette fonction prend en paramètre 2 Dataframe à fusionner. On renseignera le paramètre `on` avec l'*attribut commun* aux 2 tables, grâce auquel on fera une *jointure*. 

```python
pd.merge(df1,df2,on='attribut_commun')
```

**Question 6:** Dans la cellule suivante, réaliser la jonction entre `tableausalles_df` et `tableaufilms_df` avec pour *attribut commun* la colonne *titre*.

In [21]:
# correction
pd.merge(tableaufilms_df, tableausalles_df,on='titre')

                     titre           realisateur  annee  salle horaire
0       la rage aux poings          Eric le Hung   1975      1   18h00
1               le million            René Clair   1931      2   15h00
2  Rendez vous à Badenberg          René Meurice   1970      3   21h00
3          Le cercle rouge  Jean-Pierre Melville   1970      4   18h05

**Question 7:** Réaliser une projection sur cette table pour afficher seulement les colonnes `horaire` et `titre`

In [22]:
table = pd.merge(tableaufilms_df, tableausalles_df,on='titre')
table[['horaire', 'titre']]

  horaire                    titre
0   18h00       la rage aux poings
1   15h00               le million
2   21h00  Rendez vous à Badenberg
3   18h05          Le cercle rouge

On peut maintenant trier ce tableau par horaire, avec l'instruction

```python
tableau_df.sort_values(by ='horaire')
```

In [23]:
# correction
table.sort_values(by ='horaire')

                     titre           realisateur  annee  salle horaire
1               le million            René Clair   1931      2   15h00
0       la rage aux poings          Eric le Hung   1975      1   18h00
3          Le cercle rouge  Jean-Pierre Melville   1970      4   18h05
2  Rendez vous à Badenberg          René Meurice   1970      3   21h00

# Partie 2: Base de données: joueurs de NBA

Le fichier joint *joueursNBA2020.csv* est un extrait des joueurs professionnels de basket de NBA, pour la saison 2019-2020. On va utiliser la librairie *pandas* pour ouvrir puis explorer ce fichier.

In [ ]:
# Version Jupyterlite
import pandas as pd  # on importe la librairie pandas 
from js import fetch

URL = "https://raw.githubusercontent.com/tix06/jupyterlite_NSI/master/files/datas/joueursNBA2020.csv"

res = await fetch(URL)
text = await res.text()

filename = 'datas.csv'

with open(filename, 'w') as f:
    f.write(text)

data = pd.read_csv(filename, sep=';')
data

Les données recupérées doivent souvent être remises en forme. Le tableau ci-dessus présente plusieurs problèmes qui doivent être traités avant de pouvoir exploiter les données :

* Il y a des colonnes Unnamed qui ne servent à rien : elles seront à supprimer
* Il y a plus de lignes que de joueurs. Ces lignes ont pour valeur `NaN`. Il faudra aussi les supprimer.
* Le poids des joueurs, dans la colonne `poids` est exprimé sous format `str`. Les valeurs sont écrites avec l’unité, kg. Il vaudra mieux les tranformer en type `float`, en retirant les caractères `kg`.

In [ ]:
#***************************************#
# en pratique **************************#
# selection des colonnes renseignées    #
# et suppression des lignes NaN         #
# avec .dropna()                        #
#***************************************#
tableau_reduit=data[['nom','equipe','poste','taille','poids','experience','pays']].dropna()

In [ ]:
#*************************************#
# puis `cast` de la colonne poids     #
# les valeurs sont de type str et     #
# combinent des float avec kg         #
# par exemple 89.8 kg                 #
#*************************************#

tableau_reduit['poids']=tableau_reduit['poids'].replace(to_replace ='kg', value = '', regex = True)

In [ ]:
#************************************#
# puis conversion du type            #
# str vers float                     #
# **********CAST ********************#
#************************************#

tableau_reduit['poids']=tableau_reduit['poids'].astype('float')
tableau_reduit

Et voila, il n’y a plus qu’à explorer ce tableau de données...

**Question 8:** filtrer le tableau pour n’afficher que les joueurs du poste ‘C’

**Question 9:** filtrer les joueurs pour ne conserver que les joueurs de nationalité autre que americaine.

**Question 10:** Trier les joueurs par taille, ou par poids